.appointment-page {
  background: #f0f8ff;
  min-height: 100vh;
  padding-bottom: 50px;
}

.appointment-header {
  text-align: center;
  padding: 40px 20px;
}

.appointment-header h1 {
  font-size: 40px;
  color: #0056b3;
}

.appointment-header p {
  font-size: 18px;
  margin-top: 10px;
}

.appointment-card {
  background: white;
  width: 450px;
  margin: auto;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 6px;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #999;
  font-size: 15px;
}

.form-group textarea {
  height: 100px;
  resize: none;
}

.half {
  width: 50%;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #0056b3;
}

.appointment-footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background: #dceeff;
}
